In [1]:
import numpy as np
import pandas as pd

In [2]:
one_data = pd.read_excel('one_particle.xlsx')
one_data.columns = ['X', 'Y']
one_data.head()

            X           Y
0  262.333333  381.333333
1  261.500000  379.000000
2  260.600000  379.200000
3  262.000000  378.000000
4  262.666667  376.333333

In [4]:
one_data['X'].astype(float)
one_data['Y'].astype(float)

0      381.333333
1      379.000000
2      379.200000
3      378.000000
4      376.333333
          ...
191    372.000000
192    370.000000
193    369.000000
194    367.333333
195    368.500000
Name: Y, Length: 196, dtype: float64

In [ ]:
N = len(one_data)
msd_m = []
for m in range(1, N-1):
    diff_x = []
    diff_y = []
    for i in range(0, N-m-1):
        diff_x.append(x[i+m] - x[i])
        diff_y.append(y[i+m] - y[i])
    
    diff_x = np.array(diff_x)
    diff_y = np.array(diff_y)
    diff_sq = diff_x**2 + diff_y**2
    msd = np.mean(diff_sq, axis=0)
    
    msd_